<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>
    <style>
      .details_resident h4 {
        font-size: 16px;
        font-weight: 500;
      }

      .details_resident h4 span {
        font-weight: 200;
        color: #666;
        margin-left: 7px;
      }

      tr.strikeoff > td:not(:last-child) {
        text-decoration: line-through;
      }
    </style>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:100%">
                <h3>
                  <i class="fa fa-group members-icon"></i>Manage Residents</h3>
              </div>

            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel" style="padding-top:20px;">
                    <div class="x_content">

                      <div class="row" style="margin:0">
                        <!--    <h4 class="label_add-new-visitor">Search Visitor</h4> --->
                        <div class="x_panel" style="padding:12px 5px 4px">

                          <form class="form-inline search-visitor-field">
                            <h4 class="label-filter">
                              <i class="fa fa-filter"></i>Filter</h4>
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="inputSuccess950" placeholder="Name" name="name">
                            </div>
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="inputSuccess951" placeholder="Profession" name="profession">
                            </div>
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="inputSuccess952" placeholder="Car Number" name="carno">
                            </div>
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="inputSuccess953" placeholder="Block Number" name="blocko">
                            </div>
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="inputSuccess954" placeholder="Flat Number" name="flatno">
                            </div>

                            <button class="btn btn-success btn-search" style="margin-top:5px;">
                              <i class="fa fa-search" style="font-size:20px"></i>
                            </button>
                            <button class="btn btn-warning btn-search btn-xs" style="margin-top:5px;" id="clear-filters-btn">
                              Clear Filters
                            </button>
                          </form>
                        </div>
                        <!--- x_panel--->
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel" style="padding:0">

                            <div class="x_title label-my-documents" style="text-indent:8px;">
                              <h2 style="font-weight:200;">Resident List</h2>

                              <div class="clearfix"></div>
                            </div>

                            <div class="x_content" style="padding:0">
                              <table class="table common-table">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Profession</th>
                                    <th>Block & Flat No.</th>
                                    <th>Mobile Number</th>
                                    <th>Car Number</th>
                                    <th>
                                      <%# <i class="fa fa-eye" style="text-indent:14px;"></i>%>
                                      Actions
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if (residents.length == 0) { %>
                                  <tr>
                                    <td colspan="6" class="text-center">
                                      <h3>Please add a Resident</h3>
                                    </td>
                                  </tr>
                                  <% } else { %>
                                  <% residents.forEach(function (resident) { %>
                                    <tr class="<% if (resident.status === 'inactive') { %> strikeoff <% } %>">
                                      <td><%= resident.name %></th>
                                      <td><%= resident.profession %></td>
                                      <td><%= resident.flatNo + ', ' + resident.block %></td>
                                      <td>+91
                                        <%= resident.contactPhone %></td>
                                      <td>
                                        <% for(var i=1; i<=3; i++) {
                                          if (resident['carNumber'+i]) {
                                      %>
                                          <%= resident['carNumber'+i] %>
                                          <br/>
                                        <% } %>
                                      <% } %>
                                    </td>
                                    <td>
                                      <button data-toggle="tooltip" type="button" class="btn btn-success btn-xs view-resident-btn" data-resident-id="<%= resident.id %>" title="View"><i style="color: white;" class="fa fa-eye"> </i></button>
                                      <button data-toggle="tooltip" type="button" class="btn btn-info btn-xs edit-resident-btn" data-resident-id="<%= resident.id %>" title="Edit"><i style="color: white;" class="fa fa-edit"> </i></button>
                                      <button data-toggle="tooltip" type="button" class="btn btn-warning btn-xs resetpass-resident-btn" data-resident-id="<%= resident.id %>" title="Reset Password"><i style="color: white;" class="fa fa-key"> </i></button>
                                      <% if (resident.status === "active") { %>
                                        <button data-toggle="tooltip" type="button" class="btn btn-primary btn-xs deactivate-resident-btn" data-resident-id="<%= resident.id %>" title="Deactivate Resident"><i style="color: white;" class="fa fa-lock"> </i></button>
                                      <% } %>
                                      <% if (resident.status === "inactive") { %>
                                        <button data-toggle="tooltip" type="button" class="btn btn-primary btn-xs reactivate-resident-btn" data-resident-id="<%= resident.id %>" title="Reactivate Resident"><i style="color: white;" class="fa fa-unlock"> </i></button>
                                      <% } %>
                                      <button data-toggle="tooltip" type="button" class="btn btn-danger btn-xs delete-resident-btn" data-resident-id="<%= resident.id %>" title="Delete"><i style="color: white;" class="fa fa-trash"> </i></button>
                                    </td>
                                  </tr>
                                <% }) %>
                                <% } %> <!-- /end no residents check -->

                                <td colspan="6" class="text-center">
                                  <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#add-resident-modal">
                                    Add Resident
                                  </button>
                                  &nbsp &nbsp &nbsp &nbsp
                                  <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#import-residents-modal">Import Residents</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- x-content -->
                      </div>
                      <!-- x_panel -->
                    </div>
                  </div>

                </div>
                <!-- x-content -->
              </div>
              <!-- x_panel -->
            </div>
          </div>

        </div>

        <!-- Show resident detailed info MODAL -->
        <% residents.forEach(function (resident) { %>
          <div id="view-resident-modal-<%= resident.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Resident Details</h4>
                </div>
                <div class="modal-body">
                  <div class="row notice-modal">
                    <div class="col-md-12 col-sm-12 col-xs-12 details_resident">
                      <h4>Name :
                        <span><%= resident.name %></span>
                      </h4>
                      <h4>Residing :
                        <span><%= (resident.isResiding) ? 'Yes' : 'No' %></span>
                      </h4>
                      <h4>Block & Flat Number :
                        <span><%= resident.block + ', ' + resident.flatNo %></span>
                      </h4>
                      <h4>Type :
                        <span><%= resident.residentType %></span>
                        </h4>
                        <h4>Email :
                          <span><%= resident.contactEmail %></span>
                        </h4>
                        <h4>Phone :
                          <span>
                            +91 <%= resident.contactPhone %>
                            &nbsp; | &nbsp;
                            +91 <%= resident.contactPhoneAlter %>
                          </span>
                        </h4>
                        <h4>Intercom :
                          <span><%= resident.intercom %></span>
                        </h4>
                        <h4>Profession :
                          <span><%= resident.profession %></span>
                        </h4>
                        <h4>Car Numbers :
                          <span>
                            <%= [resident.carNumber1, resident.carNumber2, resident.carNumber3].join(' | ') %>
                          </span>
                        </h4>
                      </div>

                    </div>
                    <!-- notice-modal  -->
                  </div>
                  <!-- modal-body  -->
                </div>

              </div>
            </div>
          <% }) %>
          <!-- /Show resident detailed info MODAL -->

          <!-- Import Residents modal -->
          <!-- Modal -->
          <div id="import-residents-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Import Residents from CSV File</h4>
                </div>
                <div class="modal-body">
                  <form action="/admin/residents/uploadCSV" method="POST" id='upload-csv-form' enctype="multipart/form-data">
                    <label for="">Choose CSV file to Import</label>
                    <input type="file" name="csv-file" accept="" id="csv-file">
                    <%# <input type="submit">%>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-success" id="upload-csv-btn">Upload</button>
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" id="cancel-upload-csv-btn">Cancel</button>
                </div>
              </div>

            </div>
          </div>
          <!-- /Import Residents modal -->

          <!--  add resident modal  -->
          <div id='add-resident-modal' class="modal fade bs15-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel3">Add New Resident</h4>
                </div>
                <div class="modal-body">
                  <br/>
                  <div class="row notice-modal">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <form>
                        <div class="form-group has-feedback row create-bill_modal">
                          <div class="col-xs-8">
                            <input type="text" class="form-control" id="add-resident-name" placeholder="Name">
                          </div>
                          <div class="col-xs-4 text-right">
                            <div class="checkbox" style="display:inline-block; margin-top:7px; margin-bottom:26px;">
                              <label class="" style="padding-left:1px;">
                                Residing &nbsp; &nbsp;
                                <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;" id='add-resident-is-residing'>
                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div>
                              </label>
                            </div>
                          </div>

                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="add-resident-blockno" placeholder="Block Number">
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="add-resident-unit" placeholder="Unit">
                          </div>

                          <div class="col-xs-6">
                            <div class="form-group">
                              <select class="form-control" id='add-resident-type'>
                                <option disabled selected>Type</option>
                                <option value="Registered Owner">Registered Owner</option>
                                <option value="Owner's Spouse">Owner's Spouse</option>
                                <option value="Owner's Children">Owner's Children</option>
                                <option value="Other Family Member">Other Family Member</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="add-resident-email" placeholder="Email">
                          </div>

                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="add-resident-mobile" placeholder="Mobile Number">
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="add-resident-intercom" placeholder="Intercom">
                          </div>
                        </div>

                        <div class="text-center">
                          <button class="btn btn-success" id="add-resident-btn">Submit</button>
                        </div>
                      </form>
                    </div>

                  </div>
                  <!-- notice-modal  -->
                </div>
                <!-- modal-body  -->

              </div>
            </div>
          </div>
          <!-- add resident modal  --->

          <!--  edit resident modal  -->
          <% residents.forEach(function (resident) { %>
          <div id='edit-resident-modal-<%= resident._id %>' class="modal fade bs15-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel3">Add New Resident</h4>
                </div>
                <div class="modal-body">
                  <br/>
                  <div class="row notice-modal">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <form>
                        <div class="form-group has-feedback row create-bill_modal">
                          <div class="col-xs-8">
                            <input type="text" class="form-control" id="edit-resident-name-<%= resident._id %>" placeholder="Name" value="<%= resident.name %>">
                          </div>
                          <div class="col-xs-4 text-right">
                            <div class="checkbox" style="display:inline-block; margin-top:7px; margin-bottom:26px;">
                              <label class="" style="padding-left:1px;">
                                Residing &nbsp; &nbsp;
                                <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;" id='edit-resident-is-residing-<%= resident._id %>' <%= (resident.isResiding) ? 'checked' : '' %>>
                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div>
                              </label>
                            </div>
                          </div>

                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="edit-resident-blockno-<%= resident._id %>" placeholder="Block Number"  value="<%= resident.block %>">
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="edit-resident-unit-<%= resident._id %>" placeholder="Unit"  value="<%= resident.flatNo %>">
                          </div>

                          <div class="col-xs-6">
                            <div class="form-group">
                              <select class="form-control" id='edit-resident-type-<%= resident._id %>'>
                                <option disabled selected>Type</option>
                                <option value="Registered Owner" <%= (resident.residentType === "Registered Owner") ? 'selected' : '' %>>Registered Owner</option>
                                <option value="Owner's Spouse" <%= (resident.residentType === "Owner's Spouse") ? 'selected' : '' %>>Owners Spouse</option>
                                <option value="Owner's Children" <%= (resident.residentType === "Owner's Children") ? 'selected' : '' %>>Owners Children</option>
                                <option value="Other Family Member" <%= (resident.residentType === "Other Family Member") ? 'selected' : '' %>>Other Family Member</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="edit-resident-email-<%= resident._id %>" placeholder="Email"  value="<%= resident.contactEmail %>" readonly>
                          </div>

                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="edit-resident-mobile-<%= resident._id %>" placeholder="Mobile Number"  value="<%= resident.contactPhone %>">
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="form-control" id="edit-resident-intercom-<%= resident._id %>" placeholder="Intercom"  value="<%= resident.intercom %>">
                          </div>
                        </div>

                        <div class="text-center">
                          <button class="btn btn-success save-edited-resident-btn" data-resident-id="<%= resident._id %>">Submit</button>
                        </div>
                      </form>
                    </div>

                  </div>
                  <!-- notice-modal  -->
                </div>
                <!-- modal-body  -->

              </div>
            </div>
          </div>
          <% }) %>
          <!-- edit resident modal  --->

          <!-- /page content -->

          <!-- footer content -->
          <!--
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        -->
          <!-- /footer content -->
          <!-- right_col -->

          <!-- <div id="custom_notifications" class="custom-notifications dsp_none">
                    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
                    <div class="clearfix"></div>
                    <div id="notif-group" class="tabbed_notifications"></div>
                </div> -->
        </div>
        <!-- main container -->
      </div>
      <!-- container body -->

      <%- include('../common/javascripts'); %>

      <script type="text/javascript">

        $(document).ready(function() {
          $('[data-toggle="tooltip"]').tooltip();

          $(".view-resident-btn").click(function(e) {
            e.preventDefault();
            var id = $(this).data('resident-id');
            $('#view-resident-modal-' + id).modal('show')
          });

          $(".edit-resident-btn").click(function(e) {
            e.preventDefault();
            var id = $(this).data('resident-id');
            $('#edit-resident-modal-' + id).modal('show')
          });

          $(".delete-resident-btn").click(function(e) {
            e.preventDefault();
            var self = this;
            var id = $(this).data('resident-id');
            var sure = confirm("Are you sure you want to Deactivate this Resident?");
            if (sure) {
              $(self).prop("disabled", true);
              $.ajax({
                method: "DELETE",
                type: "DELETE",
                url: "/admin/residents/"+id,
                success: function(result) {
                  $(self).prop("disabled", false);
                  if (result.error) {
                    // alert('oops')
                    console.log(result);
                    new PNotify({
                      title: "Failed to Deactivate Resident!",
                      type: 'error'
                    })
                  } else {
                    // alert('yaay')
                    window.location.reload();
                  }
                }
              })
            } else {
              return false;
            }
          });

          $(".deactivate-resident-btn").click(function(e) {
            e.preventDefault();
            var self = this;
            var id = $(this).data('resident-id');
            var sure = confirm("Are you sure you want to Deactivate this Resident?");
            if (sure) {
              $(self).prop("disabled", true);
              $.ajax({
                method: "PUT",
                type: "PUT",
                url: "/admin/residents/deactivate/"+id,
                success: function(result) {
                  $(self).prop("disabled", false);
                  if (result.error) {
                    // alert('oops')
                    console.log(result);
                    new PNotify({
                      title: "Failed to Deactivate Resident!",
                      type: 'error'
                    })
                  } else {
                    // alert('yaay')
                    window.location.reload();
                  }
                }
              })
            } else {
              return false;
            }
          });

          $(".reactivate-resident-btn").click(function(e) {
            e.preventDefault();
            var self = this;
            var id = $(this).data('resident-id');
            var sure = confirm("Are you sure you want to Reactivate this Resident?");
            if (sure) {
              $(self).prop("disabled", true);
              $.ajax({
                method: "PUT",
                type: "PUT",
                url: "/admin/residents/reactivate/"+id,
                success: function(result) {
                  $(self).prop("disabled", false);
                  if (result.error) {
                    // alert('oops')
                    console.log(result);
                    new PNotify({
                      title: "Failed to Reactivate Resident!",
                      type: 'error'
                    })
                  } else {
                    // alert('yaay')
                    window.location.reload();
                  }
                }
              })
            } else {
              return false;
            }
          });

          $(".resetpass-resident-btn").click(function(e) {
            e.preventDefault();
            var self = this;
            var id = $(this).data('resident-id');
            var sure = confirm("Are you sure you want to Reset Login Password for this Resident?");
            if (sure) {
              $(self).prop("disabled", true);
              $.ajax({
                method: "PUT",
                type: "PUT",
                url: "/admin/residents/resetpass/"+id,
                success: function(result) {
                  $(self).prop("disabled", false);
                  if (result.error) {
                    // alert('oops')
                    console.log(result);
                    new PNotify({
                      title: "Failed to Reset Resident Password!",
                      type: 'error'
                    })
                  } else {
                    // alert('yaay')
                    new PNotify({
                      title: "New Password mailed to the Resident!",
                      type: 'success'
                    })
                  }
                }
              })
            } else {
              return false;
            }
          });

          $("#clear-filters-btn").click(function(e) {
            e.preventDefault();
            var url = window.location.href.split('?')[0];
            window.location.assign(url);
          });

          // Add a new resdient
          $("#add-resident-btn").click(function(e) {
            e.preventDefault();
            // Validations
            if (!validateRequired($("#add-resident-name").val())) {
              new PNotify({
                title: "Validation Failed!",
                text: "Resident Name is Required",
                type: 'error'
              });
              $("#add-resident-name").focus();
              return false;
            }
            if (!validateRequired($("#add-resident-email").val())) {
              new PNotify({
                title: "Validation Failed!",
                text: "Resident Email is Required",
                type: 'error'
              });
              $("#add-resident-email").focus();
              return false;
            }
            // /end validations
            var data = {
              name: $("#add-resident-name").val(),
              block: $("#add-resident-blockno").val(),
              flatNo: $("#add-resident-unit").val(),
              residentType: $("#add-resident-type").val(),
              isResiding: !!$("#add-resident-is-residing").is(":checked"),
              contactEmail: $("#add-resident-email").val(),
              contactPhone: $("#add-resident-mobile").val(),
              intercom: $("#add-resident-intercom").val()
            }

            $("#add-resident-btn").prop('disabled', true);
            $.ajax({
              url: "/admin/residents/",
              method: "POST",
              data: data,
              success: function(result) {
                if (result.error) {
                  // alert('oops')
                  console.log(result.reason);
                  new PNotify({
                    title: "Failed to add Resident!",
                    text: result.message,
                    type: 'error'
                  })
                } else {
                  // alert('yaay')
                  window.location.reload();
                }
                $("#add-resident-btn").prop('disabled', false);
                $("#add-resident-modal").modal('hide');
              }
            });

          })

          // Save an edited resident
          $(document).on("click", ".save-edited-resident-btn", function (e) {
            e.preventDefault();
            var self = this;
            var id = $(self).data("resident-id");
            // Validations
            if (!validateRequired($("#edit-resident-name-"+id).val())) {
              new PNotify({
                title: "Validation Failed!",
                text: "Resident Name is Required",
                type: 'error'
              });
              $("#edit-resident-name-"+id).focus();
              return false;
            }
            if (!validateRequired($("#edit-resident-email-"+id).val())) {
              new PNotify({
                title: "Validation Failed!",
                text: "Resident Email is Required",
                type: 'error'
              });
              $("#edit-resident-email-"+id).focus();
              return false;
            }
            // /end validations
            var data = {
              name: $("#edit-resident-name-"+id).val(),
              block: $("#edit-resident-blockno-"+id).val(),
              flatNo: $("#edit-resident-unit-"+id).val(),
              residentType: $("#edit-resident-type-"+id).val(),
              isResiding: !!$("#edit-resident-is-residing-"+id).is(":checked"),
              contactEmail: $("#edit-resident-email-"+id).val(),
              contactPhone: $("#edit-resident-mobile-"+id).val(),
              intercom: $("#edit-resident-intercom-"+id).val()
            }

            $(self).prop('disabled', true);
            $.ajax({
              url: "/admin/residents/"+id,
              method: "PUT",
              data: data,
              success: function(result) {
                if (result.error) {
                  // alert('oops')
                  console.log(result.reason);
                  new PNotify({
                    title: "Failed to Edit Resident!",
                    type: 'error'
                  })
                } else {
                  // alert('yaay')
                  window.location.reload();
                }
                $(self).prop('disabled', false);
                $("#edit-resident-modal-"+id).modal('hide');
              }
            });

          })

          $("#upload-csv-btn").click(function() {
            // $('#upload-csv-form').submit(); console.log($("#csv-file")[0].files[0]);
            var formData = new FormData();
            formData.append("csv-file", $("#csv-file")[0].files[0]);

            $.ajax({
              url: "/admin/residents/uploadCSV",
              method: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function(result) {
                if (result.error) {
                  new PNotify({
                    // title: "Failed Adding Resident!",
                    title: result.message,
                    text: "Please refresh this Page",
                    type: 'warning'
                  })
                } else {
                  // alert('yaay')
                  window.location.reload();
                }
              }
            });

          });

          $("#cancel-upload-csv-btn").click(function(e) {
            e.preventDefault();
            $('#upload-csv-form')[0].reset();
            $("#import-residents-modal").modal('hide');
          });

        });
      </script>

      <!-- PNotify -->
      <!--
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
          -->
      <!-- PNotify -->

      <!-- Custom Notification -->

    </body>
  </html>
