<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>All Alerts</title>

    <%- include('../common/stylesheets'); %>

    <!-- AWS SDK -->
    <script type="text/javascript" src="/bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/resident-navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:100%">
                <h3>
                  <i class="fa fa-dollar my-documents-icon"></i>All Alerts</h3>
              </div>

            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <div class="x_panel" style="padding-top:5px; border-radius:0">

                    <div class="x_content">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel" style="border-radius:0; padding:0">
                            <div class="x_title label-my-documents">
                              <%# <h2 style="font-weight:200;">My Bills</h2>%>

                              <div class="clearfix"></div>
                            </div>
                            <% alerts.forEach(function (alert) { %>
                              <div class="list-group">
                                <a class="list-group-item">
                                  <h4 class="list-group-item-heading">
                                  <span class="pull-left">
                                    <% if (alert.unread) { %> <i style="color: green;" class="fa fa-envelope"> </i> <% } else { %> <i style=";" class="fa fa-envelope-o"> </i> <% } %>
                                  </span>
                                  <span class="pull-right"><%= moment(alert.when).format("DD/MM/YYYY hh:mm A") %></span>
                                  </h4>
                                  <br/>
                                  <div class="list-group-item-text"><%= alert.content %></div>
                                </a>
                              </div>
                            <% }) %>
                            <!-- x-content -->
                          </div>
                          <!-- x_panel -->
                        </div>
                      </div>

                    </div>
                    <!-- x-content -->
                  </div>
                  <!-- x_panel -->
                </div>
              </div>

            </div>
            <!-- /page content -->

            <!-- footer content
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        <!-- /footer content -->
          </div>
        </div>
        <!-- right_col -->

        <!-- /page content -->

        <!-- footer content -->
        <!--
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        -->
        <!-- /footer content -->
        <!-- right_col -->

        <!-- <div id="custom_notifications" class="custom-notifications dsp_none">
                    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
                    <div class="clearfix"></div>
                    <div id="notif-group" class="tabbed_notifications"></div>
                </div> -->
      </div>
      <!-- main container -->
    </div>
    <!-- container body -->

    <%- include('../common/javascripts'); %>

    <script type="text/javascript">
</script>
    <!-- /Custom Notification -->
  </body>
</html>
