<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>

    <!-- AWS SDK -->
    <script type="text/javascript" src="/bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/resident-navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:100%">
                <h3>
                  <i class="fa fa-dollar my-documents-icon"></i>My Bills</h3>
              </div>

            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <div class="x_panel" style="padding-top:5px; border-radius:0">

                    <div class="x_content">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel" style="border-radius:0; padding:0">
                            <div class="x_title label-my-documents">
                              <%# <h2 style="font-weight:200;">My Bills</h2>%>

                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="padding:0">
                              <table class="table complain-table" id="bills-table" style="margin-top:-2px;">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Amount (INR)</th>
                                    <th>Due Date</th>
                                    <th>Block (Unit)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% bills.forEach(function (bill) { %>
                                  <tr>
                                    <td><%= moment(bill.addedOn).format("DD-MMM-YYYY") %></th>
                                      <td><%= bill.category %></td>
                                      <td><%= bill.desc %></td>
                                      <td><%= bill.amount %></td>
                                      <td><%= moment(bill.dueDate).format("DD-MMM-YYYY") %></th>
                                      <td><%= bill.block + ', ' + bill.flatNo %></td>
                                  </tr>
                                  <% }) %>

                                </tbody>
                              </table>
                            </div>
                            <!-- x-content -->
                          </div>
                          <!-- x_panel -->
                        </div>
                      </div>

                    </div>
                    <!-- x-content -->
                  </div>
                  <!-- x_panel -->
                </div>
              </div>

            </div>
            <!-- /page content -->

            <!-- footer content
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        <!-- /footer content -->
          </div>
        </div>
        <!-- right_col -->

        <!-- /page content -->

        <!-- footer content -->
        <!--
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        -->
        <!-- /footer content -->
        <!-- right_col -->

        <!-- <div id="custom_notifications" class="custom-notifications dsp_none">
                    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
                    <div class="clearfix"></div>
                    <div id="notif-group" class="tabbed_notifications"></div>
                </div> -->
      </div>
      <!-- main container -->
    </div>
    <!-- container body -->

    <%- include('../common/javascripts'); %>

    <script type="text/javascript">
</script>
    <!-- /Custom Notification -->
  </body>
</html>
