<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Society</title>

    <%- include('../common/stylesheets'); %>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <%- include('../common/super-navigation'); %>

        <!-- page content -->
        <% if (error) { %>
        <div class="right_col" role="main">
          <%= message %>
        </div>
        <% } else {  %>

          <div class="right_col" role="main">
            <div class="">
              <div class="page-title">
                <div class="title_left" style="width:50%">
                  <h3><i class="fa fa-building manage-societies"></i>Edit Society</h3> </div>
                <div class="title_right" style="width:50%">
                  <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12" style="float:right"> <a class="cancel-info_admin" href="/superadmin"><i class="fa fa-close"></i>Cancel</a>
                    <p id="save-btn" class="save-info_admin"><i class="fa fa-save"></i>Save</p> </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="x_panel" style="padding:20px 17px;">
                    <div class="x_content">
                      <form id="add-society-form">
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-12 society-data">
                            <div class="x_panel">
                              <p class="thin-border">Basic Info</p>
                              <div class="form-group has-feedback"> <input value="<%= data.societyName %>"  required type="text" class="form-control" name="societyName" placeholder="Society Name"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.societyAddress %>"  required type="text" class="form-control" name="societyAddress" placeholder="Society Address"> </div>


                              <select  class="form-control" name="status">
                                <option disabled>Select status</option>
                                <option value="active" <%=(data.status=='active') ? 'selected': ''; %> >Active</option>
                                <option value="inactive" <%=(data.status=='inactive') ? 'selected': ''; %> >Inactive</option>
                              </select>
                              <br>
                              <div class="form-group has-feedback"> <input value="<%= data.contactPerson %>"  required type="text" class="form-control" name="contactPerson" placeholder="Contact Person"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.contactEmail %>"  required type="email" class="form-control" name="contactEmail" placeholder="Enter Email"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.website %>"  required type="text" class="form-control" name="website" placeholder="Enter Website"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.contactPhone %>"  required type="text" class="form-control" name="contactPhone" placeholder="Contact Number"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.approvedPAX %>"  required type="text" class="form-control" name="approvedPAX" placeholder="Approved PAX"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.merchId %>"  required type="text" class="form-control" name="merchId" placeholder="Merchant ID"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.merchKey %>"  required type="text" class="form-control" name="merchKey" placeholder="Merchant Key"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.merchSalt %>"  required type="text" class="form-control" name="merchSalt" placeholder="Merchant Salt"> </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 society-data">
                            <div class="x_panel">
                              <p class="thin-border">Modules</p>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.payments ? 'checked' : ''; %> required name="modulesSubscribed[payments]" type="checkbox" class="flat"> Bill Payments</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.members ? 'checked' : ''; %>  required name="modulesSubscribed[members]" type="checkbox" class="flat"> Board Of Members</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.classifieds ? 'checked' : ''; %>  required name="modulesSubscribed[classifieds]" type="checkbox" class="flat"> Classifieds</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.contacts ? 'checked' : ''; %>  required name="modulesSubscribed[contacts]" type="checkbox" class="flat"> Emergency Contacts</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.visitors ? 'checked' : ''; %>  required name="modulesSubscribed[visitors]" type="checkbox" class="flat"> Frequent Visitors</label> </div>

                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.polls ? 'checked' : ''; %>  required name="modulesSubscribed[polls]" type="checkbox" class="flat"> Opinion Polls</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.documents ? 'checked' : ''; %>  required name="modulesSubscribed[documents]" type="checkbox" class="flat"> Resident Documents</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.employees ? 'checked' : ''; %>  required name="modulesSubscribed[employees]" type="checkbox" class="flat"> Resident Employees</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.residents ? 'checked' : ''; %>  required name="modulesSubscribed[residents]" type="checkbox" class="flat"> Search Residents</label> </div>
                              <div class="checkbox select-modules"> <label> <input value=true <%= data.modulesSubscribed.services ? 'checked' : ''; %>  required name="modulesSubscribed[services]" type="checkbox" class="flat"> Services</label> </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel">
                              <p class="label_admin-info">Admin Info</p>
                              <div class="form-group has-feedback"> <input value="<%= data.admin.name %>"  required type="text" class="form-control" name="admin[name]" placeholder="Enter Name"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.admin.contactPhone %>"  required type="text" class="form-control" name="admin[contactPhone]" placeholder="Enter Number"> </div>
                              <div class="form-group has-feedback"> <input value="<%= data.admin.contactEmail %>"  required type="email" class="form-control" name="admin[contactEmail]" placeholder="Enter Email"> </div>
                              <%# <div class="form-group has-feedback"> <input value=""  required type="password" class="form-control" name="admin[password]" placeholder="Enter Password"> </div>%>
                              <button type="button" id="click-to-change-password-btn" class="btn btn-warning btn-block">Change Admin Password</button>
                            <!--
                              <select  class="form-control" name="admin[status]">
                                <option disabled selected>Select status</option>
                                <option value="active"  <%=(data.admin.status=='active') ? 'selected': ''; %>>Active</option>
                                <option value="inactive"  <%=(data.admin.status=='inactive') ? 'selected': ''; %>>Inactive</option>
                              </select>
                            -->
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel">
                              <p class="label_admin-info">Contract Expiry Date</p>
                              <div class="form-group has-feedback"> <input  required type="text" class="form-control datetimepicker" name="expiryDate" placeholder="DD/MM/YYYY" value="<%= moment(data.expiryDate).format('DD/MM/YYYY') %>"> </div>
                            </div>
                          </div>
                        </div>
                      </form><br/>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        <% } %>
        <!-- right_col -->


    </div>
    <!-- main container -->
</div>
<!-- container body -->

<%- include('../common/javascripts'); %>
<script type="text/javascript" src="/vendors/serializejson.min.js"></script>

<script type="text/javascript">
  $(".datetimepicker").datetimepicker({format: 'DD/MM/YYYY'});

  $("#click-to-change-password-btn").click(function (e) {
    var self = this;
    var newPass = prompt("Enter New Admin Password (PlainText):");
    if (newPass === undefined || newPass === null || newPass.trim() === "") {
      return false;
    } else {
      $(self).prop("disabled", true);
      $.ajax({
        url: '/superadmin/changeadminpass/<%= data.admin._id %>',
        method: 'PUT',
        data: {newPass: newPass},
        success: function (data) {
          $(self).prop("disabled", false);
          if (!data.error) {
            // alert('Successfully saved');
            new PNotify({
              title: "Successfully Updated Admin Password!",
              type: 'success'
            })
            // window.location.href = '/superadmin/society/' + data.societyId;
          } else {
            console.log(data);
            new PNotify({
              title: "Error Updating Admin Password!",
              type: error
            })
          }
        }
      })
    }
  });

  $('#save-btn').click(function () {
    // Validations
    if (!validateRequired($("input[name='societyName']").val())) {
      new PNotify({
        title: "Validation Failed!",
        text: "Society Name cannot be Empty!",
        type: 'error'
      });
      $("input[name='societyName']").focus();
      return false;
    }
    if (!validateRequired($("input[name='societyAddress']").val())) {
      new PNotify({
        title: "Validation Failed!",
        text: "Society Address cannot be Empty!",
        type: 'error'
      });
      $("input[name='societyAddress']").focus();
      return false;
    }
    if (!validateRequired($("input[name='contactPerson']").val())) {
      new PNotify({
        title: "Validation Failed!",
        text: "Society Name cannot be Empty!",
        type: 'error'
      });
      $("input[name='contactPerson']").focus();
      return false;
    }

    if (!validateRequired($("input[name='admin[name]']").val())) {
      new PNotify({
        title: "Validation Failed!",
        text: "Admin Name cannot be Empty!",
        type: 'error'
      });
      $("input[name='admin[name]'").focus();
      return false;
    }
    if (!validateRequired($("input[name='admin[contactEmail]']").val())) {
      new PNotify({
        title: "Validation Failed!",
        text: "Admin Email cannot be Empty!",
        type: 'error'
      });
      $("input[name='admin[contactEmail]'").focus();
      return false;
    }
    // /end Validations

    $(this).prop('disabled', true);

    var formData = $('#add-society-form').serializeJSON({
      parseBooleans: true,
      checkboxUncheckedValue: false
    });

    formData._id = "<%= id %>";
    formData.admin._id = "<%= data.admin._id %>";

    console.log(formData);

    $.ajax({
      url: '/superadmin/edit',
      method: 'POST',
      data: formData,
      success: function (data) {
        if (!data.error) {
          // alert('Successfully saved');
          new PNotify({
            title: "Successfully Updated Society!",
            type: 'success'
          })
          window.location.href = '/superadmin/society/' + data.societyId;
        } else {
          new PNotify({
            title: "Error Updating Society!",
            text: data.message,
            type: error
          })
        }
      }
    });

  });

</script>



</body>
</html>
