<style>
  #menu-toggle-btn {
    display: none;
  }
  @media (max-width: 991px) {
    #menu-toggle-btn {
      display: initial;
    }
  }
</style>
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border:0;">
      <a href="/superadmin" class="site_title">
        <!--<i class="fa fa-paw"></i> <span>Gentellela Alela!</span>-->
        <img src="/images/ls-logo.png" alt="..." class="img-responsive ss-logo">
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <a href="/superadmin">
      <div class="profile">
        <div class="profile_pic">
          <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>

          <h2>SuperAdmin</h2>
        </div>
      </div>
    </a>
    <!-- /menu profile quick info -->
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <!--<h3>General</h3>-->
        <ul class="nav side-menu">
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>
            <a href="/superadmin/logout" class="logout-link">
              <i class="fa fa-sign-out"></i>
              Logout
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small side-menu-footer">
      <ul class="nav side-menu">
        <%# <li>
          <a href="/admin/terms">
            <i class="fa fa-asterisk terms-icon"></i>Terms & Conditions</a>
        </li>%>
      </ul>
      <p class="side-menu-footer">Powered by: <a href="http://www.logic-square.com/" target="_blank">Logic Square</a></p>
    </div>
    =<!-- /menu footer buttons --></div>
  <!-- left_col scroll-view -->
</div>
<!-- col-md-3 left_col -->

<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle" id="menu-toggle-btn">
        <a id="menu_toggle">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </nav>
  </div>
  <!-- nav_menu -->
</div>
<!-- top_nav -->
<!-- /top navigation -->
